* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


.navbar-brand img {
    max-width: 50px;
    max-height: 50px;

  }


  .logo img {
    width: 50%;
}

.container {
  display: flex;
}

li {
  display: flex;
  align-self: center;
}


.background-image {
  width: 50%;
}

.btn-lg {
  margin-bottom: 1em;
}

.h1-left {
  font-size: 4em;
}
.h1-right {
  font-size: 3em;
}
.welcome-msg {
font-size: 1.5em;
}

/*filters*/

.filters {
  float: left;
  width: 300px;
  background-color: #f2f2f2;
  padding: 10px;
}

.filters h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters li {
  margin-bottom: 5px;
}

.filters a {
  display: block;
  padding: 5px 10px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

.filters a:hover {
  background-color: #333;
  color: #fff;
}

.filter-button {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
}

.filter-row {
  display: flex; 
  justify-content: space-between; 
}

/*cards*/

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  width: 18rem;
  margin-left: 150px;
}

/*Capsule Creation Page*/
.create-capsule-container {
  margin-bottom: 50px;
}










































/*footer*/

.store-btns {
  width: 50%;
}